// media-queries.scss

@media (min-width: 780px){
  section#intro{
    min-height: 20em;
  }

}

@media (max-width: 640px){
  section#intro{
    min-height: 20em;
  }
<<<<<<< HEAD
    #work .inner-wrapper .list-image{
    float: none;
  }
  .inner-wrapper div.link strong{
    display: none;
  }
  .inner-wrapper ul.detail .flex{
    display: block;
  }
=======
   #work .inner-wrapper .list-image{
    float: none;
  }
>>>>>>> master

}

@media (min-width: 640px){
  #intro .content img{
      width: 195px;
      border-radius: 5%;
      border: 1px #fff solid;
      transition: all 0.3s ease-in;
  }
<<<<<<< HEAD

=======
  // #work .inner-wrapper .list-image{
  //   float: none;
  // }
>>>>>>> master


}

@media (max-width: 480px){
  section#intro{
    min-height: 20em;

  }
  #work .inner-wrapper .list-image img{
      max-width: 120px;
    }


}