@import "base.scss";




.content-image{
  float: right;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  margin: 0 0.5em 1em 1em;
}

.wrapper.content{
  padding: 1em 2em;
} 

section{
  // min-height: 40em;
  padding: 1em;
  font-family: $PTsans;
  line-height: 1.3em;
}

body{
  font-family: $helvetica;
  font-size: 80%;
}

header{
  background: $base-color-shade;
  box-shadow: 0px -12px 20px rgba(0,0,0,0.5) inset;

  div.logo{
    display: inline-block;
    max-width: 200px;
    font-size: 180%;
    font-weight: 700;
    font-family: $Patua;
    color: #fff;
    padding-left: 0.5em;
      a:link, a:visited, a:focus{
        color: #fff;
        text-decoration: none;
      }
  }
  .header-content{
  display: inline-block; 
  font-family: $Patua;
  margin-left: 1em; 
  color: #fff;
  }
  .wrapper{
    margin-bottom: 0px;
  }
}

nav{
 li{
  display: inline-block;
  margin-right: 1em; 
  min-width: 3em;
  padding: 0 1em;  
  }
  a:link, a:visited,{
  font-family: $PTsans;
  color: $BGaccent-color;
  text-decoration: none;
  }
  a:hover, a:focus{
  font-weight: 700;
 
  }
  .wrapper{
    margin-bottom: 0px;
  }
}

/*section classes*/
#intro{
  @extend section;
  background: $BGbase-color;
    h2{
    color: $base-color;
  }

}

#work{
  @extend section;
  background: $BGsecondary-color;
  h2{
    color: $base-color;
  }
}

#contact{
  @extend section;
  background: $BGaccent-color;
  h2{
    color: $base-color;
  }
  h1, p{
    color: #fff;
  }
    ul{
      text-align: center;
    }
    li{ display: inline-block;
      min-width: 3em;
      padding: 1em 2em;
      background: #fff;
      border-radius: 15px;
      line-height: 2.5em;
      box-shadow: 4px 4px $BGbase-color-shade;
      margin:1em 1.2em;
      &:hover{
        background: $BGbase-color;
        box-shadow: 4px 4px $base-color;
        a:link, a:visited, a:focus{
        color: #fff;}
        a:hover{
          color: #fff;
        }
      }
    }
   a:link, a:visited, a:focus{
      color: $secondary-color;
      text-decoration: none;
      font-family: $PTsans;
      font-size: 140%;
      font-weight: 700;
      text-shadow: 1px 1px 1px $accent-color;
       }

}

li.linkedin a{
  background: url(../images/linkedin.png) no-repeat 0 0;
  @include contact-icon;
}

li.twitter a{
  background: url(../images/twitter.png) no-repeat 0 0;
  @include contact-icon;
}
li.github a{
  background: url(../images/github4.png) no-repeat 0 0;
  @include contact-icon;
}
li.mail a{
  background: url(../images/envelop.png) no-repeat 0 0;
  @include contact-icon;
}

section h1{
  font-size: 150%;
  line-height: 1.6em;
  font-family: $Patua;
}

section h2{
  font-size: 120%;
  line-height: 1.4em;
  // color: $BGaccent-color;
  font-family: $Patua;
}

.wrapper{
  max-width: 800px;
  margin: 0px auto 1em;
  display: block;
  background: rgba(0,0,0,0.2);
  padding: 1em 0.5em;
}

.wrapper.title{
    background: rgba(0,0,0,0.6);
    box-shadow: -5px 0px rgba(0,0,0,0.8);
      h1{
        color: #fff;
      }
      h2{
        color: #base-color;
      }
  }

#intro .wrapper.content img{
  @extend .content-image;
  width: 140px;
  border-radius: 50%;
  border: 7px #fff solid;
  transition: all 0.3s ease-in;
}
.wrapper p{
  line-height: 1.5em;
  font-size: 120%;
}

.inner-wrapper{
  @extend .wrapper ;
  box-shadow: -5px 0px rgba(0,0,0,0.8);
  margin: 1em 2em;
  background: rgba(255,255,255,0.5);

  h3{
    font-family: $Patua;
    font-weight: 700;
  }
  p{
    font-family: $PTsans;
  }
  img{
    max-width: 75%;
  }
  div.link{
    background: $BGtertiary-color;
    color: #fff;
    line-height: 2em;
    padding: 0.2em 2em;
    margin-bottom: 2em;
    border: 1px solid $BGtertiary-color;

    a:link, a:visited, a:focus{
      color: #fff;
      text-decoration: none;
    }
     &:hover{
        border: 1px solid $BGtertiary-color;
        background: #fff;
        color: $tertiary-color;
        border: 1px solid $BGtertiary-color;
        a:link, a:visited, a:focus{
        color: $tertiary-color;
        font-weight: 700; }
      }
    }
}

.work{
  list-style: outside; 
  text-indent: 0;
  margin-left: 3em;

}

.websites{
  @extend .work ;
    span{
    color: $secondary-color;
    font-size: 135%;

  }
}

.design{
  @extend .work ;
    span{
    color: $secondary-color;
      font-size: 135%;

  }
}
.various{
  @extend .work ;
    span{
    color: $secondary-color;
      font-size: 135%;

  }
}

// Media queries moved to media-queries.scss



// .icon {
//   display: inline-block;
//   width: 1em;
//   height: 1em;
//   fill: currentColor;
// }

// .icon-images {
//   width: 1.125em;
// }





