@import "base.scss";

strong{
  font-weight: 900;
}

.content-image{
  float: right;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  margin: 0 0.5em 1em 1em;
}

.wrapper.content{
  padding: 1em 2em;
} 

section{
  // min-height: 40em;
  padding: 1em;
  font-family: $PTsans;
  line-height: 1.3em;
}

body{
  font-family: $helvetica;
  font-size: 80%;
}

header{
  background: $base-color-shade;
  box-shadow: 0px -12px 20px rgba(0,0,0,0.5) inset;

  div.logo{
    display: inline-block;
    max-width: 200px;
    font-size: 180%;
    font-weight: 700;
    font-family: $Patua;
    color: #fff;
    padding-left: 0.5em;
      a:link, a:visited, a:focus{
        color: #fff;
        text-decoration: none;
      }
  }
  .header-content{
  display: inline-block; 
  font-family: $Patua;
  margin-left: 1em; 
  color: #fff;
  }
  .wrapper{
    margin-bottom: 0px;
  }
}

nav{
 li{
  display: inline-block;
  margin-right: 1em; 
  min-width: 3em;
  padding: 0 1em;  
  font-size: 1.4em;
  }
  a:link, a:visited,{
  font-family: $PTsans;
  color: $BGaccent-color;
  text-decoration: none;
  }
  a:hover, a:focus{
  font-weight: 700;
 
  } 
  .wrapper{
    margin-bottom: 0px;
  }
}

/*section ID's*/
#intro{
  @extend section;
  background-color: $BGbase-color;
  background: url(../images/clouds-compressor.jpg) top center;
  background-size: cover;
  color: #fff;
    h2{
    color: $base-color;
  }
    .tags{
      strong{
        color: $accent-color-red;
      }
      ul{
        li.tag{
          @include contact-links;
          color: $base-color;
          font-family: $PTsans;
          font-size: 90%;
          font-weight: 700;
          padding: 0.1em 0.8em 0.1em 2.4em;
          text-align: center;
          margin: 0.5em;
          }
        li:before{
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          background: rgba(0,0,0,0.1);
          border-radius: 50%;
          border: 2px #fff solid;
          position: absolute;
          margin: 5px -20px;
          box-shadow: 1px 1px 3px inset;
        }
      }
    }

}

#work{
  @extend section;
  background: $BGsecondary-color;
  h2{
    color: $base-color;
  }
}

#freetime{
  @extend section;
  .hobbies-animation{
    min-height: 350px;
    width: 100%;
    background: url(../images/hobbies_guitar.jpg) center center;
    background-size: cover;
    animation:  hobbies 15s infinite;
    margin: 20px 0;
  }

@keyframes hobbies{
  0%{
      background: url(../images/hobbies_guitar.jpg) center center;
    }

     25%{
      background: url(../images/hobbies_travel.jpg) center center;
    }

     50%{
      background: url(../images/hobbies_piano-keys.jpg) center center;
    }

     75%{
      background: url(../images/hobbies_hiking.jpg) center center;
    }

    100%{
      background: url(../images/hobbies_drums.jpg) center center;
    }

  }
  
  background: $BGtertiary-color;
  h2{
    color: $base-color;
  }
  ul{
    background:#555;
    // border-radius: 30px 10px;
    color: #fff;


    li{
      padding: 0 1em;
      margin: 1em;
      border: 3px solid #fff;
      // border-radius: 0 0 30px 10px;
      min-height: 10em;
      vertical-align: bottom;
      background: $base-color-shade;
      box-shadow: 0px -12px 20px rgba(0,0,0,0.5) inset;
      min-width: 120px;
      display: inline-block;
      text-shadow: 1px 1px 3px #000;

    }
    .openhaard{
      background: url(../images/openhaard.jpeg) center center no-repeat;
      background-size: cover;
      @include hobby-bg;

    }
    .reizen{
      background: url(../images/backpacking.jpg) center center no-repeat;
      background-size: cover;
      @include hobby-bg;

    }
    .wandelen{
      background: url(../images/pieterpad.jpeg) center center no-repeat;
      background-size: cover;
      @include hobby-bg;


    }
    .muziek{
      background: url(../images/pianoklavier.jpeg) center center no-repeat;
      background-size: cover;
      @include hobby-bg;

    }
    .volleyball{
      background: url(../images/volleybal.jpeg) center center no-repeat;
      background-size: cover;
      @include hobby-bg;

    }
  }
}

#contact{
  @extend section;
  background: $BGaccent-color;
  h2{
    color: $base-color;
  }
  h1, p{
    color: #fff;
  }
    ul{
      text-align: center;
    }
    li{ 
      @include contact-links;
      &:hover{
        background: $BGbase-color;
        box-shadow: 4px 4px $base-color;
        a:link, a:visited, a:focus{
        color: #fff;}
        a:hover{
          color: #fff;
        }
      }
    }
   a:link, a:visited, a:focus{
      color: $secondary-color;
      text-decoration: none;
      font-family: $PTsans;
      font-size: 140%;
      font-weight: 700;
      text-shadow: 1px 1px 1px $accent-color;
       }

}

li.linkedin a{
  background: url(../images/linkedin.png) no-repeat 0 0;
  @include contact-icon;
}

li.twitter a{
  background: url(../images/twitter.png) no-repeat 0 0;
  @include contact-icon;
}
li.github a{
  background: url(../images/github4.png) no-repeat 0 0;
  @include contact-icon;
}
li.mail a{
  background: url(../images/envelop.png) no-repeat 0 0;
  @include contact-icon;
}

section h1{
  font-size: 150%;
  line-height: 1.6em;
  font-family: $Patua;
}

section h2{
  font-size: 120%;
  line-height: 1.4em;
  // color: $BGaccent-color;
  font-family: $Patua;
}

.wrapper{
  max-width: 800px;
  margin: 0px auto 1em;
  display: block;
  background: rgba(0,0,0,0.2);
  padding: 1em 0.5em;
}

.wrapper.title{
    background: rgba(0,0,0,0.6);
    box-shadow: -5px 0px rgba(0,0,0,0.8);
      h1{
        color: #fff;
      }
      h2{
        color: #base-color;
      }
  }

#intro .wrapper.content img{
  @extend .content-image;
  width: 140px;
  border-radius: 50%;
  border: 7px #fff solid;
  transition: all 0.3s ease-in;
}
.wrapper p{
  line-height: 1.5em;
  font-size: 120%;
}

.inner-wrapper{
  @extend .wrapper ;
  box-shadow: -5px 0px rgba(0,0,0,0.8);
  margin: 1em 2em;
  background: rgba(255,255,255,0.5);
  a:link, a:visited, a:focus{
    color: #fff;
    text-decoration: none;
    }
  h3{
    font-family: $Patua;
    font-weight: 700;
    font-size: 110%;
  }
  p{
    font-family: $PTsans;
  }
  img{
    max-width: 75%;
  }
  div.link{
    background: $BGtertiary-color;
    color: #fff;
    line-height: 2em;
    padding: 0.2em 2em;
    margin-bottom: 2em;
    border: 1px solid $BGtertiary-color;
    max-height: 2.5em;

     &:hover{
        border: 1px solid $BGtertiary-color;
        background: $base-color-shade;
        color: #fff;
        border: 1px solid $BGtertiary-color;
        cursor: pointer;
        a:link, a:visited, a:focus{
        color: #fff;
        font-weight: 700; 
        }
      }
    }
    ul.detail{
      li.detail-content{
        background-color: $BGbase-color;
        color: #fff;
        padding: 1em 2em 1em 3em;
        margin: 1em;
        max-height: 300px;

      }
      .flex{
        display: flex;
      }

    }
    .half{
      max-width: 45%;
     }
    .list-image{
      float: right;
      max-width: 45%;
      padding-right: 2em;
      img{
        max-width: 200px;
        text-align: right;
      }
    }
}

.hidden{
  display: none;
  }

.work{
  list-style: outside; 
  text-indent: 0;
  margin-left: 3em;

}

.websites{
  @extend .work ;
    span{
    color: $accent-color-red;
    font-size: 135%;

  }
}

.design{
  @extend .work ;
    span{
    color: $accent-color-red;
      font-size: 135%;

  }
}
.various{
  @extend .work ;
    span{
    color: $accent-color-red;
      font-size: 135%;

  }
}

// Media queries moved to media-queries.scss



// .icon {
//   display: inline-block;
//   width: 1em;
//   height: 1em;
//   fill: currentColor;
// }

// .icon-images {
//   width: 1.125em;
// }





