@media (min-width: 780px) {
  /* line 4, ../sass/media-queries.scss */
  section#intro {
    min-height: 20em;
  }
}
@media (max-width: 640px) {
  /* line 11, ../sass/media-queries.scss */
  section#intro {
    min-height: 20em;
  }
}
@media (min-width: 640px) {
  /* line 18, ../sass/media-queries.scss */
  #intro .content img {
    width: 195px;
    border-radius: 5%;
    border: 1px #fff solid;
    transition: all 0.3s ease-in;
  }

  /* line 24, ../sass/media-queries.scss */
  #work .inner-wrapper .list-image {
    float: none;
  }

  /* line 27, ../sass/media-queries.scss */
  div.link strong {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 35, ../sass/media-queries.scss */
  section#intro {
    min-height: 20em;
  }

  /* line 39, ../sass/media-queries.scss */
  #work .inner-wrapper .list-image img {
    max-width: 120px;
  }
}
