/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, #intro, #work, #freetime, #contact, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, #intro, #work, #freetime, #contact, summary {
  display: block;
}

@media (min-width: 780px) {
  /* line 4, ../sass/media-queries.scss */
  section#intro, #intro {
    min-height: 20em;
  }
}
@media (max-width: 640px) {
  /* line 11, ../sass/media-queries.scss */
  section#intro, #intro {
    min-height: 20em;
  }

  /* line 14, ../sass/media-queries.scss */
  #work .inner-wrapper .list-image {
    float: none;
  }

  /* line 17, ../sass/media-queries.scss */
  .inner-wrapper div.link strong {
    display: none;
  }

  /* line 20, ../sass/media-queries.scss */
  .inner-wrapper ul.detail .flex {
    display: block;
  }
}
@media (min-width: 640px) {
  /* line 27, ../sass/media-queries.scss */
  #intro .content img {
    width: 195px;
    border-radius: 5%;
    border: 1px #fff solid;
    transition: all 0.3s ease-in;
  }
}
@media (max-width: 480px) {
  /* line 39, ../sass/media-queries.scss */
  section#intro, #intro {
    min-height: 20em;
  }

  /* line 43, ../sass/media-queries.scss */
  #work .inner-wrapper .list-image img {
    max-width: 120px;
  }
}
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 3, ../sass/style.scss */
strong {
  font-weight: 900;
}

/* line 7, ../sass/style.scss */
.content-image, #intro .wrapper.content img, #intro .content.inner-wrapper img {
  float: right;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  margin: 0 0.5em 1em 1em;
}

/* line 13, ../sass/style.scss */
.wrapper.content, .content.inner-wrapper {
  padding: 1em 2em;
}

/* line 17, ../sass/style.scss */
section, #intro, #work, #freetime, #contact {
  padding: 1em;
  font-family: "PT Sans", sans-serif;
  line-height: 1.3em;
}

/* line 24, ../sass/style.scss */
body {
  font-family: "Helvetica Neue", helvetica, "Sans-serif";
  font-size: 80%;
}

/* line 29, ../sass/style.scss */
header {
  background: #00537f;
  box-shadow: 0px -12px 20px rgba(0, 0, 0, 0.5) inset;
}
/* line 33, ../sass/style.scss */
header div.logo {
  display: inline-block;
  max-width: 200px;
  font-size: 180%;
  font-weight: 700;
  font-family: "Patua One", serif;
  color: #fff;
  padding-left: 0.5em;
}
/* line 41, ../sass/style.scss */
header div.logo a:link, header div.logo a:visited, header div.logo a:focus {
  color: #fff;
  text-decoration: none;
}
/* line 46, ../sass/style.scss */
header .header-content {
  display: inline-block;
  font-family: "Patua One", serif;
  margin-left: 1em;
  color: #fff;
}
/* line 52, ../sass/style.scss */
header .wrapper, header .inner-wrapper {
  margin-bottom: 0px;
}

/* line 58, ../sass/style.scss */
nav li {
  display: inline-block;
  margin-right: 1em;
  min-width: 3em;
  padding: 0 1em;
  font-size: 1.4em;
}
/* line 65, ../sass/style.scss */
nav a:link, nav a:visited {
  font-family: "PT Sans", sans-serif;
  color: rgba(0, 132, 204, 0.8);
  text-decoration: none;
}
/* line 70, ../sass/style.scss */
nav a:hover, nav a:focus {
  font-weight: 700;
}
/* line 74, ../sass/style.scss */
nav .wrapper, nav .inner-wrapper {
  margin-bottom: 0px;
}

/*section ID's*/
/* line 80, ../sass/style.scss */
#intro {
  background-color: rgba(0, 166, 255, 0.5);
  background: url(../images/clouds-compressor.jpg) top center;
  background-size: cover;
  color: #fff;
}
/* line 86, ../sass/style.scss */
#intro h2 {
  color: #00a6ff;
}
/* line 91, ../sass/style.scss */
#intro .tags ul li {
  display: inline-block;
  min-width: 3em;
  padding: 1em 2em;
  background: #fff;
  border-radius: 15px;
  line-height: 2.5em;
  box-shadow: 4px 4px rgba(0, 83, 127, 0.5);
  margin: 1em 1.2em;
  color: #00a6ff;
  font-family: "PT Sans", sans-serif;
  font-size: 90%;
  font-weight: 700;
  padding: 0.1em 0.8em 0.1em 2.4em;
  text-align: center;
  margin: 0.5em;
}
/* line 101, ../sass/style.scss */
#intro .tags ul li:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: 2px #fff solid;
  position: absolute;
  margin: 5px -20px;
  box-shadow: 1px 1px 3px inset;
}

/* line 118, ../sass/style.scss */
#work {
  background: rgba(76, 192, 255, 0.5);
}
/* line 121, ../sass/style.scss */
#work h2 {
  color: #00a6ff;
}

/* line 126, ../sass/style.scss */
#freetime {
  background: rgba(38, 96, 127, 0.5);
}
/* line 129, ../sass/style.scss */
#freetime h2 {
  color: #00a6ff;
}
/* line 132, ../sass/style.scss */
#freetime ul {
  background: #555;
  color: #fff;
}
/* line 138, ../sass/style.scss */
#freetime ul li {
  padding: 0 1em;
  margin: 1em;
  border: 3px solid #fff;
  min-height: 10em;
  vertical-align: bottom;
  background: #00537f;
  box-shadow: 0px -12px 20px rgba(0, 0, 0, 0.5) inset;
  min-width: 120px;
  display: inline-block;
  text-shadow: 1px 1px 3px #000;
}
/* line 152, ../sass/style.scss */
#freetime ul .openhaard {
  background: url(../images/openhaard.jpeg) center center no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in;
}
/* line 12, ../sass/variables.scss */
#freetime ul .openhaard:hover {
  background-image: inherit;
  background-color: rgba(0, 83, 127, 0.4);
  transition: all 0.3s ease-in;
}
/* line 158, ../sass/style.scss */
#freetime ul .reizen {
  background: url(../images/backpacking.jpg) center center no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in;
}
/* line 12, ../sass/variables.scss */
#freetime ul .reizen:hover {
  background-image: inherit;
  background-color: rgba(0, 83, 127, 0.4);
  transition: all 0.3s ease-in;
}
/* line 164, ../sass/style.scss */
#freetime ul .wandelen {
  background: url(../images/pieterpad.jpeg) center center no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in;
}
/* line 12, ../sass/variables.scss */
#freetime ul .wandelen:hover {
  background-image: inherit;
  background-color: rgba(0, 83, 127, 0.4);
  transition: all 0.3s ease-in;
}
/* line 171, ../sass/style.scss */
#freetime ul .muziek {
  background: url(../images/pianoklavier.jpeg) center center no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in;
}
/* line 12, ../sass/variables.scss */
#freetime ul .muziek:hover {
  background-image: inherit;
  background-color: rgba(0, 83, 127, 0.4);
  transition: all 0.3s ease-in;
}
/* line 177, ../sass/style.scss */
#freetime ul .volleyball {
  background: url(../images/volleybal.jpeg) center center no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in;
}
/* line 12, ../sass/variables.scss */
#freetime ul .volleyball:hover {
  background-image: inherit;
  background-color: rgba(0, 83, 127, 0.4);
  transition: all 0.3s ease-in;
}

/* line 186, ../sass/style.scss */
#contact {
  background: rgba(0, 132, 204, 0.8);
}
/* line 189, ../sass/style.scss */
#contact h2 {
  color: #00a6ff;
}
/* line 192, ../sass/style.scss */
#contact h1, #contact p {
  color: #fff;
}
/* line 195, ../sass/style.scss */
#contact ul {
  text-align: center;
}
/* line 198, ../sass/style.scss */
#contact li {
  display: inline-block;
  min-width: 3em;
  padding: 1em 2em;
  background: #fff;
  border-radius: 15px;
  line-height: 2.5em;
  box-shadow: 4px 4px rgba(0, 83, 127, 0.5);
  margin: 1em 1.2em;
}
/* line 200, ../sass/style.scss */
#contact li:hover {
  background: rgba(0, 166, 255, 0.5);
  box-shadow: 4px 4px #00a6ff;
}
/* line 203, ../sass/style.scss */
#contact li:hover a:link, #contact li:hover a:visited, #contact li:hover a:focus {
  color: #fff;
}
/* line 205, ../sass/style.scss */
#contact li:hover a:hover {
  color: #fff;
}
/* line 210, ../sass/style.scss */
#contact a:link, #contact a:visited, #contact a:focus {
  color: #4cc0ff;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-size: 140%;
  font-weight: 700;
  text-shadow: 1px 1px 1px #0084cc;
}

/* line 221, ../sass/style.scss */
li.linkedin a {
  background: url(../images/linkedin.png) no-repeat 0 0;
  padding-left: 1.4em;
  line-height: 2em;
  background-size: 1.1em;
}

/* line 226, ../sass/style.scss */
li.twitter a {
  background: url(../images/twitter.png) no-repeat 0 0;
  padding-left: 1.4em;
  line-height: 2em;
  background-size: 1.1em;
}

/* line 230, ../sass/style.scss */
li.github a {
  background: url(../images/github4.png) no-repeat 0 0;
  padding-left: 1.4em;
  line-height: 2em;
  background-size: 1.1em;
}

/* line 234, ../sass/style.scss */
li.mail a {
  background: url(../images/envelop.png) no-repeat 0 0;
  padding-left: 1.4em;
  line-height: 2em;
  background-size: 1.1em;
}

/* line 239, ../sass/style.scss */
section h1, #intro h1, #work h1, #freetime h1, #contact h1 {
  font-size: 150%;
  line-height: 1.6em;
  font-family: "Patua One", serif;
}

/* line 245, ../sass/style.scss */
section h2, #intro h2, #work h2, #freetime h2, #contact h2 {
  font-size: 120%;
  line-height: 1.4em;
  font-family: "Patua One", serif;
}

/* line 252, ../sass/style.scss */
.wrapper, .inner-wrapper {
  max-width: 800px;
  margin: 0px auto 1em;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 1em 0.5em;
}

/* line 260, ../sass/style.scss */
.wrapper.title, .title.inner-wrapper {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: -5px 0px rgba(0, 0, 0, 0.8);
}
/* line 263, ../sass/style.scss */
.wrapper.title h1, .title.inner-wrapper h1 {
  color: #fff;
}
/* line 266, ../sass/style.scss */
.wrapper.title h2, .title.inner-wrapper h2 {
  color: #base-color;
}

/* line 271, ../sass/style.scss */
#intro .wrapper.content img, #intro .content.inner-wrapper img {
  width: 140px;
  border-radius: 50%;
  border: 7px #fff solid;
  transition: all 0.3s ease-in;
}

/* line 278, ../sass/style.scss */
.wrapper p, .inner-wrapper p {
  line-height: 1.5em;
  font-size: 120%;
}

/* line 283, ../sass/style.scss */
.inner-wrapper {
  box-shadow: -5px 0px rgba(0, 0, 0, 0.8);
  margin: 1em 2em;
  background: rgba(255, 255, 255, 0.5);
}
/* line 288, ../sass/style.scss */
.inner-wrapper a:link, .inner-wrapper a:visited, .inner-wrapper a:focus {
  color: #fff;
  text-decoration: none;
}
/* line 292, ../sass/style.scss */
.inner-wrapper h3 {
  font-family: "Patua One", serif;
  font-weight: 700;
  font-size: 110%;
}
/* line 297, ../sass/style.scss */
.inner-wrapper p {
  font-family: "PT Sans", sans-serif;
}
/* line 300, ../sass/style.scss */
.inner-wrapper img {
  max-width: 75%;
}
/* line 303, ../sass/style.scss */
.inner-wrapper div.link {
  background: rgba(38, 96, 127, 0.5);
  color: #fff;
  line-height: 2em;
  padding: 0.2em 2em;
  margin-bottom: 2em;
  border: 1px solid rgba(38, 96, 127, 0.5);
  max-height: 2.5em;
}
/* line 312, ../sass/style.scss */
.inner-wrapper div.link:hover {
  border: 1px solid rgba(38, 96, 127, 0.5);
  background: #00537f;
  color: #fff;
  border: 1px solid rgba(38, 96, 127, 0.5);
  cursor: pointer;
}
/* line 318, ../sass/style.scss */
.inner-wrapper div.link:hover a:link, .inner-wrapper div.link:hover a:visited, .inner-wrapper div.link:hover a:focus {
  color: #fff;
  font-weight: 700;
}
/* line 325, ../sass/style.scss */
.inner-wrapper ul.detail li.detail-content {
  background-color: rgba(0, 166, 255, 0.5);
  color: #fff;
  padding: 1em 2em 1em 3em;
  margin: 1em;
  max-height: 300px;
}
/* line 333, ../sass/style.scss */
.inner-wrapper ul.detail .flex {
  display: flex;
}
/* line 338, ../sass/style.scss */
.inner-wrapper .half {
  max-width: 45%;
}
/* line 341, ../sass/style.scss */
.inner-wrapper .list-image {
  float: right;
  max-width: 45%;
  padding-right: 2em;
}
/* line 345, ../sass/style.scss */
.inner-wrapper .list-image img {
  max-width: 200px;
  text-align: right;
}

/* line 352, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 356, ../sass/style.scss */
.work, .websites, .design, .various {
  list-style: outside;
  text-indent: 0;
  margin-left: 3em;
}

/* line 365, ../sass/style.scss */
.websites span {
  color: #4cc0ff;
  font-size: 135%;
}

/* line 374, ../sass/style.scss */
.design span {
  color: #4cc0ff;
  font-size: 135%;
}

/* line 382, ../sass/style.scss */
.various span {
  color: #4cc0ff;
  font-size: 135%;
}
